body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    background-attachment:fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contenedor {
    max-width: 80rem;
    width: 90%; 
    margin: 3rem 0; 
    padding: 3%;
    gap:2rem;
    
    display:flex; 
    flex-direction:column;
    
    box-sizing: border-box;

    background-color: white;
    border-radius: 0.75rem; 
    border-color: #dff6ff; 
    border-style: solid;
}

.dos-columnas {
    display:flex;
    gap:2rem;
    align-items: flex-start;
}

.tres-columnas {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 0;
}

.tres-columnas > section {
    flex: 1; 
    width: 33.33%;
    box-sizing: border-box;
    min-width: 0;
}

.foto {
    display: block;
    width: 100%;   
    max-width: 15rem;    
    height: auto; 
    margin: 1.5rem 0 0 0;
}

header p {
    margin-top: 0;
    margin-bottom: 0.5rem; 
}

header h1 {
    margin-bottom: 0.2rem;
}

.curiosidad {
    margin-top: 2rem;
}

.columna-info {
    width: 35%;
    flex: 0 0 35%;
    min-width: 0;
}

.columna-info img {
    display: block;
    width: 100%;   
    max-width: 100%;  
    height: auto;   
    margin-top: 1.5rem; 
}

.columna-galeria {
    width: 65%;
    flex: 0 0 65%;
    min-width: 0;
}

h1, h2, legend, nav a {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2596be;
    text-decoration-line: underline; 
}

a {
  display: block;
  color: #495b66; 
  font-weight: 500;
}

a:hover {
  color: #1d2f3b;
}

nav a:visited {
  color: #11344a; 
}

nav ul {
    margin-top: 0;      
    padding-left: 1.2rem;
    margin-bottom: 1rem;
}

#galeria {
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    justify-content:center;
}

#galeria section {
    flex: 1 1 18rem;
    max-width: 100%;
}

#galeria img { 
    width:100%;
    height:auto;
    display:block;
}

.cita {
    margin: 2rem 0;
    padding-left: 1rem;
    border-left: 3px solid #0076a3;
    font-style: italic;  
    color: #555;
}
