body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    background-attachment:fixed;
}

.contenedor {
    max-width: 80rem;
    margin: 3rem auto; 
    padding: 3%;
    display:flex; 
    flex-direction:column;
    background-color: white;
}

.dos-columnas {
    display:flex;
    gap:2rem;
}

.dos-columnas section:first-child {
    width:35%;
}

.dos-columnas section:last-child {
    width:65%;
}

.tres-columnas {
    display:flex;
    gap:2rem;
}

h1, h2, legend, nav {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#galeria {
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    justify-content:center;
}

#galeria section {
    width:18rem;
}

#galeria img { 
    width:100%;
    height:auto;
}
